/* Modified css reset by Josh Comeau
Link: https://www.joshwcomeau.com/css/custom-css-reset/ */
*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/* End of css reset */

:root {
  --main-color: #01030E;
  --main-color-trans: #01030e6e;
  --second-color: #040c3a;
  --text-color: #f3f5ff;
}

body {
  display: flex;
  flex-direction: row;
  min-height: 100vh;

  color: var(--text-color);
}

.header {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  text-align: center;

  background: no-repeat center url(images/header_bg.png);
  background-size: cover;
}

.header-title {
  position: relative;
  top: 10rem;
  min-width: 35rem;

  font-size: 5rem;

  background-color: var(--main-color-trans);
}

.main {
  flex: 5;
  min-width: 45rem;

  background: no-repeat center url(images/main_bg.png);
  background-size: cover;
}

.banner {
  flex: 1;

  background: no-repeat center url(images/banner_bg.jpg);
  background-size: cover;
}

.credit-photo {
  font-size: 0.8rem;
}