/* Gin and Soda font by Guaraldo Fonts
Link: https://www.1001fonts.com/gin-and-soda-personal-use-font.html */
@font-face {
  font-family: 'Gin and Soda Personal Use';
  src: url('fonts/GinandSoda.woff2') format('woff2'),
      url('fonts/GinandSoda.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Modified css reset by Josh Comeau
Link: https://www.joshwcomeau.com/css/custom-css-reset/ */
*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

body {
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  color: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/* End of css reset */

:root {
  --h1-size: 8rem;
  --h2-size: 3rem;

  --main-color: #01030E;
  --main-color-trans: #01030e6e;
  --form-color: #f2f2f5;
  --form-shadow-color: #5d5e64;
  --text-color: #f2f2f5;
  --btn-color: #4d5790;
  --btn-shadow-color: #101324;
  --invalid-color: #d52828;
}

body {
  display: flex;
  flex-direction: row;
  min-height: 100vh;

  font-family: system-ui, Roboto, sans-serif;
  color: var(--text-color);
}

a{
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border-radius: 8px;
  border: none;
  color: inherit;
}

.header {
  position: relative;
  flex: 3;

  background: no-repeat center url(images/header_bg.png);
  background-size: cover;
}

/* Sakura logo by SoyGalem
Link: https://thenounproject.com/icon/sakura-1348072/ */
.header-logo {
  position: relative;
  bottom: 5px;
  left: 12px;
  display: inline;
  width: 150px;
}

.header-content {
  position: relative;
  top: 23vh;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem;
  padding-top: 2.5rem;
  min-width: 35rem;

  background-color: var(--main-color-trans);
}

.header-title {
  font-family: 'Gin and Soda Personal Use';
  font-size: var(--h1-size);
}

.main {
  position: relative;

  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;

  max-width: 50rem;
  min-width: 45rem;
  padding: 1rem 3rem;

  background: no-repeat center url(images/main_bg.png);
  background-size: cover;
}

.main-desc {
  font-size: 1.5rem;
}

.main-button {
  width: 13rem;
  padding: 0.6rem;

  font-weight: bold;

  border: 2px solid transparent;
  background-color: var(--btn-color);
  box-shadow: 3px 3px 1px 1px var(--btn-shadow-color);
}

.main-button:hover {
  border: 2px solid var(--form-color);
}

.form {
  margin: 0 -3rem;
  padding: 1.5rem 3rem;

  color: var(--main-color);

  background-color: var(--form-color);
  box-shadow: 0px 0px 10px 2px var(--form-shadow-color);
}

.form-title {
  margin-bottom: 0.5rem;
}

.form-table {
  margin-bottom: 0.5rem;
}

.form-row {
  display: flex;
  gap: 4rem;
  padding: 0.5rem 0;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-table label {
  font-weight: bold;
  font-size: 0.8rem;
  color: var(--main-color);
}

.form-table input {
  width: 18rem;
  padding: 0.3rem 0.5rem;

  border-radius: 5px;
  border: 1px solid var(--main-color);
  background-color: inherit;
}

.form-table input:hover {
  box-shadow: 1px 1px 1px 1px var(--form-shadow-color);
}

.form-table input:focus {
  outline: 2px solid var(--btn-color);
  box-shadow: 1px 1px 1px 1px var(--form-shadow-color);
}

.form-table input:user-invalid {
  outline: 1px solid var(--invalid-color);
}

.form-table input:focus:user-invalid {
  outline: 1px solid var(--invalid-color);
}

.main-link {
  font-weight: bold;
  color: var(--btn-color);
}

.main-link:hover {
  text-decoration: underline;
}

.banner {
  flex: 1;

  background: no-repeat center url(images/banner_bg.jpg);
  background-size: cover;
}

.credit-photo {
  position: absolute;
  top: 95%;
  left: 0px;

  width: 100%;

  text-align: center;
  font-size: 0.8rem;
}